#root {
    min-height: 100vh;  
    height: 100%;  
    background-image: url('../src/assets/images/10default.jpg');  
    background-repeat: no-repeat;  
    background-size: cover;  
    display: flex;  
    justify-content: center;  
    align-items: center;
  
  }
  